/**
 * @file
 * CSS for bitcoin amounts.
 */

@font-face {
  font-family: bitcoin;
  src: url("../bitcoin.woff");
}

.bitcoin-font {
  font-family: bitcoin;
  font-weight: 400;
}

.cointools-monospace,
.form-type-textfield .cointools-monospace,
.form-type-textarea .cointools-monospace {
  font-family: monospace;
  font-size: 12px;
}

a.qrcode {
  border: 0;
}

img.qrcode {
  display: block;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering:   -o-crisp-edges;
  image-rendering:      crisp-edges;
}

.toolbar-icon-cointools-payment:before {
  background-image: url("bitcoin-symbol-light.svg");
}

.toolbar-icon-cointools-payment:active:before, .toolbar-icon-cointools-payment.active:before {
  background-image: url("bitcoin-symbol.svg");
}
