{#
/**
 * @file
 * Default theme implementation for send success message.
 *
 * Available variables
 * - amount: The amount that was being sent.
 * - address: The destination address.
 */
#}
Sent {{ amount }} to {{ address }}
