{#
/**
 * @file
 * Default theme implementation for send failure message.
 *
 * Available variables
 * - amount: The amount that was being sent.
 * - address: The destination address.
 */
#}
Failed to send {{ amount }} to {{ address }}
