{#
/**
 * @file
 * Default theme implementation to list payment types available.
 *
 * Available variables:
 * - types: List of payment types. Each payment type contains:
 *   - url: Path to the add payment of this type page.
 *   - label: The title of this type of payment.
 *   - description: Description of this type of payment.
 */
#}
{% if content %}
  <ul class="admin-list">
    {% for type in types %}
      <li class="clearfix"><a href="{{ type.url }}"><span class="label">{{ type.label }}</span><div class="description">{{ type.description }}</div></a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_content = path('cointools.type_add') %}
    {% trans %}
      You have not created any payment types yet. Go to the <a href="{{ create_content }}">payment type creation page</a> to add a new payment type.
    {% endtrans %}
  </p>
{% endif %}
