{#
/**
 * @file
 * Default theme implementation to display a coin payment.
 *
 * @see template_preprocess_payment()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  <div class="coin_payment__content {{ content_attributes.class }}"{{ content_attributes|without('class') }}>
    {{ elements|without('links') }}
  </div>

</article>
